.blue {
  background-color: rgb(89, 180, 209);
}
.orange {
  background-color: rgb(208, 147, 90);
}
.purple {
  background-color: rgb(148, 90, 209);
}
.green {
  background-color: rgb(89, 208, 144);
}
